{% extends "shop/checkout.html" %}
{% load staticfiles i18n future mezzanine_tags %}

{% block main_class %}col-md-8 col-md-offset-2{% endblock %}

{% block sidebar_wrapper %}
{% endblock %}

{% block extra_head %}
{{ block.super }}
<script src="{% static "cartridge/js/shipping_fields.js" %}"></script>
{% endblock %}

{% block fields %}

{% if request.cart.has_items %}

{% errors_for form %}

<div class="alert alert-warning">
<strong>Wichtig:</strong> Bitte gib eine korrekte E-Mail Adresse an, damit dich Wittwer Sport benachrichtigen kann wenn die Artikel abgeholt werden können!
</div>

<fieldset>
    <legend>{% trans "Address" %}</legend>
    {% fields_for form.billing_detail_fields %}
</fieldset>

<fieldset>
    {% fields_for form.additional_instructions_field %}
</fieldset>

{% endif %}

{% endblock %}
