{% extends "shop/base.html" %}
{% load i18n future %}

{% block body_id %}complete{% endblock %}

{% block meta_title %}{% trans "Order Complete" %}{% endblock %}

{% if GA_TRACKING_CODE %}
{% block analytics %}

var decimal = function(amount) {
    if (amount.toString().indexOf('.') == -1) {
        amount += '.00';
    }
    return String(amount);
};

ga('require', 'ec');
ga('set', '&cu', 'CHF');

{% for item in items %}
    ga('ec:addProduct', {
      'id': '{{ item.sku }}',
      'name': '{{ item.name|escapejs }}',
      //'category': 'Apparel',
      //'brand': 'Google',
      //'variant': 'black',
      'price': decimal({{ item.unit_price }}),
      'quantity': '{{ item.quantity }}'
    });
{% endfor %}

// Transaction level information is provided via an actionFieldObject.
ga('ec:setAction', 'purchase', {
  'id': '{{ order.id }}',
  'affiliation': 'SHC Belpa 1107 Store - Online',
  'revenue': decimal({{ order.item_total }})
});

ga('send', 'pageview');     // Send transaction data with initial pageview.

{% endblock %}
{% endif %}

{% block title %}{% trans "Order Complete" %}{% endblock %}

{% block breadcrumb_menu %}
{% for step in steps %}
<li>{{ step.title }}</li>
{% endfor %}
<li><strong>{% trans "Complete" %}</strong></li>
{% endblock %}


{% block main %}
<h4>Bestellung abgeschlossen!</h4>
<p>Vielen Dank für deinen Einkauf bei uns, die Bestellung ist abgeschlossen.</p>
<p>Wir haben dir eine Bestätigung per E-Mail gesendet mit den Informationen zur Vorauskasse.</p>
<br>

{% endblock %}
