{% extends "shop/checkout.html" %}
{% load i18n shop_tags %}

{% block fields %}
{% if request.cart.has_items %}

<div class="confirmation col-md-6">
    <div class="panel panel-default">
    <div class="panel-body">
    <h3>{% trans "Billing Details" %}</h3>
    <ul class="list-unstyled">

        {% for field, value in form.billing_detail_fields.values %}
        <li><label>{{ field }}:</label> {{ value }}</li>
        {% endfor %}

        {% for field, value in form.additional_instructions_field.values %}
        <li><label>{{ field }}:</label> {{ value }}</li>
        {% endfor %}

    </ul>
    </div>
    </div>
</div>

<h1>Bestätigung</h1>
<p>blabla bla</p>

<br style="clear:both;">

{% for field in form %}{{ field }}{% endfor %}

{% endif %}
{% endblock %}
