{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles %}

{% block subtitle %}
 {{ album.title }}
{% endblock %}

{% block main %}

        <article class="article-large entry-content">

         <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <p>
                <a href="{% url "home" %}">Home</a> / <a href="{% url "gallery" %}">Gallery</a> / {{ album.title }}
                </p>
            </div>
        </div>

            <!-- IMAGES -->
        <div id="galleria">

        </div>
        </article>
        <p>
            <a href="{% url "gallery" %}">&laquo; zur&uuml;ck zur Gallery</a>
        </p>

{% endblock %}

{% block extra_css %}

<style>
    #galleria{ height: 500px; }
</style>

    <link href="{% static "js/galleria/themes/folio/galleria.folio.css" %}" rel="stylesheet">

{% endblock %}

{% block extra_js %}

    <script src="{% static "js/galleria/galleria-1.2.9.min.js" %}"></script>

     {% autoescape off %}
    <script>
        Galleria.loadTheme('{% static "js/galleria/themes/folio/galleria.folio.min.js" %}');
        Galleria.run('#galleria', {
            dataSource: {{ json }},
            preload: 5
        });

    </script>
    {% endautoescape %}

{% endblock %}

{% block sidebar %}

    {% include "shcbelpa/sidebar/facebook.html" %}

{% endblock sidebar %}