{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles %}

{% block subtitle %}
 {{ album.title }}
{% endblock %}

{% block main %}

        <article class="article-large entry-content">
            <!-- IMAGES -->
        <div class="galleria">

        </div>
        </article>
        <p>
            <a href="{% url "gallery" %}">&laquo; zur&uuml;ck zur Gallery</a>
        </p>

{% endblock %}

{% block extra_css %}

<style>
    .galleria{ height: 500px; background: #fff }
    body .galleria-thumbnails .galleria-image { width:160px }
</style>

    <link href="{% static "js/galleria/themes/folio/galleria.folio.css" %}" rel="stylesheet">

{% endblock %}

{% block extra_js %}

    <script src="{% static "js/galleria/galleria-1.4.2.js" %}"></script>

     {% autoescape off %}
    <script>
        Galleria.loadTheme('{% static "js/galleria/themes/folio/galleria.folio.min.js" %}');
        Galleria.run('.galleria', {
            theme: 'folio',
            preload: 5,
            dataSource: {{ json }}
        });
    </script>
    {% endautoescape %}

{% endblock %}

{% block sidebar %}

    {% include "shcbelpa/sidebar/facebook.html" %}

{% endblock sidebar %}