{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles %}

{% block subtitle %}
    Gallery
{% endblock %}

{% block main %}

    <article class="article-large entry-content">
        <!-- IMAGES -->
        <div class="images">
            <ul class="clearfix da-thumbs">
                {% for album in album_list %}
                    <li>
                        <a href="{% url 'album' album.pk %}"
                           title="{{ album.title }}"
                                >
                            <img src="{{ album.photos.all.0.medium_url }}">

                            <div class="image-caption">
                                <h5>{{ album.title }}</h5>
                                {{ album.updated }}
                            </div>
                            <span class="image-light"></span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </article>
        {% if is_paginated %}
        <div class="pagination">
            <ul style="padding-left: 0px;">
            {% for page in paginator.page_range %}

            {% if page == page_obj.number %}
                <li class="active"><a href="#">{{ page }}</a></li>
            {% else %}
                <li><a href="?page={{ page }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}
            </ul>
       </div>

        {% endif %}

{% endblock %}

{% block sidebar %}

    {% include "shcbelpa/sidebar/facebook.html" %}

{% endblock sidebar %}