{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles %}

{% block meta_title %}
Home
{% endblock %}

{% block subtitle %}
SHC Belpa 1107
{% endblock %}

{% block main %}

                                      <div class="row">
                                                        <!-- ARTICLES V3 WIDGET -->
                                                        <section class="widget col-sm-8">
                                                                <!-- Widget header -->
                                                                <header class="clearfix">
                                                                        <h4>Headlines</h4>

                                                                </header>

                                                                <!-- Widget contents -->
                                                                <article class="article-medium">
                                                                        <!--image-->
                                                                        <div class="frame">asdsa
                </div>
    </article>
    </section>

                                                                                              <!-- ARTICLES V3 WIDGET -->
                                                        <section class="widget col-sm-4">
                                                                <!-- Widget header -->
                                                                <header class="clearfix">
                                                                        <h4>Resultbox</h4>

                                                                </header>

                                                                <!-- Widget contents -->
                                                                <article class="article-medium">
                                                                        <!--image-->
                                                                        <div class="frame">Rasdas
                </div>
    </article>
    </section>


    </div>

{% endblock %}

{% block sidebar %}

    {% include "shcbelpa/sidebar/gallery.html" %}

    {% include "shcbelpa/sidebar/facebook.html" %}

{% endblock %}

{% block bla %}
<article class="article-medium">
                                                        <div class="row">
                                                                <!--Image-->
                                                                <div class="col-sm-6">
                                                                        <div class="frame">
                                                                                <div class="image">
                                                                                        <img src="http://placehold.it/350x185" alt="est qui dolorem ipsum quia dol consectetur amet adipisci velit sed">
                                                                                        <div class="image-light"></div>
                                                                                        <div class="container-link">
                                                                                                <div class="link">
                                                                                                        <a href="#"><i class="fa fa-link fa-flip-horizontal"></i></a>
                                                                                                        <a href="http://placehold.it/1024x512.jpg" title="est qui dolorem ipsum quia dol consectetur amet adipisci velit sed"><i class="fa fa-search-plus"></i></a>
                                                                                                </div>
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                        <img src="img/shadow.png" class="shadow" alt="shadow">
                                                                </div>

                                                                <!--Content-->
                                                                <div class="col-sm-6">
                                                                        <a href="#" class="title"><h4>Est Qui Dolorem Quia Dol Consectetur Amet Adipisci Velit Sed</h4></a>
                                                                        <p class="post-meta">
                                                                                <a href="#"><span class="fa fa-clock-o"></span> December 4, 2013</a> &nbsp;
                                                                                <a href="#"><span class="fa fa-user"></span> FriskaMax</a> &nbsp;
                                                                                <a href="#"><span class="fa fa-comments"></span> 1,324</a> &nbsp;
                                                                                <a href="#"><span class="fa fa-eye"></span> 4,448</a>
                                                                        </p>
                                                                        <p>
                                                                                Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea consequat. Duis aute irure
                                                                                reprehenderit...
                                                                        </p>
                                                                </div>
                                                        </div>

                                                        <!--Footer-->
                                                        <div class="footer">
                                                                <ul class="tags">
                                                                        <li><a href="#">ellentesque</a></li>
                                                                        <li><a href="#">molestie</a></li>
                                                                        <li><a href="#">nisl</a></li>
                                                                        <li><a href="#">tempus</a></li>
                                                                        <li><a href="#">enim</a></li>
                                                                        <li><a href="#">imperdiet</a></li>
                                                                </ul>
                                                                <div class="read-more">
                                                                        <button class="btn btn-primary btn-sm">Read More</button>
                                                                </div>
                                                        </div>
                                                </article>
{% endblock %}
