{% extends "base.html" %}
{% load pages_tags mezzanine_tags blog_tags i18n future staticfiles %}

{% block meta_title %}
    Home
{% endblock %}

{% block subtitle %}
    SHC Belpa 1107
{% endblock %}

{% block main %}

    <div class="row">

         <!-- TABS WIDGET -->
        <section class="col-sm-4 widget">
            {% include "shcbelpa/sidebar/resultbox.html" %}
            <br />
            {% include "shcbelpa/sidebar/topscorer.html" %}
        </section>


        <!-- ARTICLES V3 WIDGET -->
        <section class="widget col-sm-8">
            <!-- Widget header -->
            <header class="clearfix">
                <h4>Headlines</h4>

            </header>

            {% for blog_post in blog_posts %}
            <article class="article-medium">

                <div class="row">

                    <div class="col-sm-12">
                        <a href="{{ blog_post.get_absolute_url }}" class="title"><h4>{{ blog_post.title }}</h4>
                        </a>

                        <p class="post-meta">
                            <span class="fa fa-clock-o"></span> {{ blog_post.publish_date|date:"d.m.Y" }} &nbsp;
                            {% with blog_post.user as author %}
                            {% if author %}
                            <span class="fa fa-user"></span> {{ author.get_full_name|default:author.username }} &nbsp;
                            {% endif %}
                            {% endwith %}
                            <span class="fa fa-tag">
                                {% if blog_post.gamerecap.game %}
                                    {{ blog_post.gamerecap.game.league }} {{ blog_post.gamerecap.game.game_type }}
                                {% else %}
                                    {% with blog_post.categories.all as categories %}
                                        {% for category in categories %}
                                            {{ category }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    {% endwith %}
                                {% endif %}
                            </span>
                            <!--<a href="#"><span class="fa fa-comments"></span> 1,324</a> &nbsp;-->
                            <!--<a href="#"><span class="fa fa-eye"></span> 4,448</a>-->
                        </p>

                        <p>
                            {{ blog_post.description|safe }} <a href="{{ blog_post.get_absolute_url }}"><span class="fa fa-angle-double-right">&nbsp;weiterlesen</span></a>
                        </p>
                    </div>
                </div>
                <!--Footer-->
                <div class="footer">
                    <hr/>
                </div>
            </article>
            {% endfor %}
        </section>
    </div>

{% endblock %}

{% block sidebar %}

    {% if teasers|length > 0 %}
        {% include "shcbelpa/sidebar/teaser.html" %}
    {% endif %}

    {% include "shcbelpa/sidebar/gallery.html" %}

    {% include "shcbelpa/sidebar/facebook.html" %}

{% endblock %}

{% block extra_js %}
    <script>
    $("body").tooltip({ selector: '[data-toggle="tooltip"]' });
    </script>
{% endblock %}