{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles %}

{% block meta_title %}
{{ player.first_name }} {{ player.last_name }}
{% endblock %}

{% block subtitle %}
{% if player.number %}
    #{{ player.number }}
 {% endif %}
{% endblock %}

{% block main %}

    <div class="row">

        <div class="col-xs-12 col-sm-3 text-center">
            <img class="center-block img-thumbnail img-responsive" alt="{{ player.first_name }} {{ player.last_name }}" src="{{ player.photo_url }}">
        </div>

        <div class="col-xs-12 col-sm-9">
                <h4>{{ player.first_name }} {{ player.last_name }}</h4>
                <dl>
                    <dt>Geburtstag</dt> <dd>{{ player.born|date:"d.m.Y"|default_if_none:"-" }}</dd>
                    <dt>Nummer</dt> <dd>{{ player.number|default_if_none:"-" }}</dd>
                    <dt>Grösse</dt> <dd>{{ player.height|default_if_none:"-" }}cm</dd>
                    <dt>Gewicht</dt> <dd>{{ player.weight|default_if_none:"-" }}kg</dd>
                    <dt>Stock</dt> <dd>{{ player.shoots|default_if_none:"-"|default_if_none:"-" }}</dd>
                </dl>
         </div>

    </div>


    <div class="row">

        <div class="col-xs-12 col-sm-12">
        <h5>{{ season }}</h5>

                        <div class="table-responsive">
                    	<table class="table table-striped">
                            <tr>
                                <th>Liga</th>
                                <th><a href="#" id="tooltip" title="Spiele">S</a></th>
                                <th><a href="#" id="tooltip" title="Goals">G</a></th>
                                <th><a href="#" id="tooltip" title="Assists">A</a></th>
                                <th><a href="#" id="tooltip" title="Punkte">P</a></th>
                                <th><a href="#" id="tooltip" title="Punktedurchschnitt pro Spiel">&Oslash;P</a></th>
                                <th><a href="#" id="tooltip" title="Strafminuten">PM</a></th>
                                <th><a href="#" id="tooltip" title="Strafminuten pro Spiel">&Oslash;PM</a></th>
                            </tr>
                            {% for team,stats in season_stats %}
                            <tr>
                                <td>{{ team.league }}</td>
                                <td>{{ stats.gp }}</td>
                                <td>{{ stats.goal }}</td>
                                <td>{{ stats.assist }}</td>
                                <td>{{ stats.points }}</td>
                                <td>{{ stats.points_avg|floatformat:2 }}</td>
                                <td>{{ stats.pm }}</td>
                                <td>{{ stats.pm_avg|floatformat:2}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
       <h5>Karriere</h5>

                        <div class="table-responsive">
                    	<table class="table table-striped">
                            <tr>
                                <th>Liga</th>
                                <th><a href="#" id="tooltip" title="Spiele">S</a></th>
                                <th><a href="#" id="tooltip" title="Goals">G</a></th>
                                <th><a href="#" id="tooltip" title="Assists">A</a></th>
                                <th><a href="#" id="tooltip" title="Punkte">P</a></th>
                                <th><a href="#" id="tooltip" title="Punktedurchschnitt pro Spiel">&Oslash;P</a></th>
                                <th><a href="#" id="tooltip" title="Strafminuten">PM</a></th>
                                <th><a href="#" id="tooltip" title="Strafminuten pro Spiel">&Oslash;PM</a></th>
                            </tr>
                            {% for stats in alltime_stats %}
                            <tr>
                                <td>{{ stats.league }}</td>
                                <td>{{ stats.gp }}</td>
                                <td>{{ stats.goal }}</td>
                                <td>{{ stats.assist }}</td>
                                <td>{{ stats.points }}</td>
                                <td>{{ stats.points_avg|floatformat:2 }}</td>
                                <td>{{ stats.pm }}</td>
                                <td>{{ stats.pm_avg|floatformat:2}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
        </div>
    </div>

{% endblock %}