{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles thumbnail %}

{% block meta_title %}
Kader {{ team.get_level_display }}
{% endblock %}

{% block subtitle %}
Kader {{ team.get_level_display }}
{% endblock %}

{% block main %}

    {% for position, players in roster %}

<div class="row">
        <!-- ARTICLES V3 WIDGET -->
        <section class="widget widget-roster col-sm-12">
            <!-- Widget header -->
            <header class="clearfix">
                <h4>{{ position }}</h4>

            </header>


        </section>
    </div>

        {% if players|length > 0 %}

            <!-- POST CONTENT -->
            <div class="row">
                <!-- IMAGES -->
                {% for player in players %}
                    <div class="col-xs-6 col-md-4 col-lg-3">
                        <div class="thumbnail">

                            <div class="">
                            <a href="{% url "player" player.slug %}">
                                {% thumbnail player.get_photo "200x250" crop="center" as im %}
                                    <img src="{{ im.url }}" class="img-thumbnail" alt="{{ player.first_name }} {{ player.last_name }}">
                                {% endthumbnail %}
                            </a>

                            <div class="caption caption-roster text-center">
                                <h5>{{ player.first_name }} {{ player.last_name }}</h5>
                            </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>

        {% endif %}

    {% endfor %}

{% endblock %}