{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles %}

{% block subtitle %}
 / {{ season.code }}
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <select>
                <option>2012-2013</option>
            </select>
        </div>
    </div>

    {% for game_type, games in sections.items %}

        <div class="row">
            <div class="col-xs-12 col-sm-12">

                <header class="clearfix">
                    <h4>{{ game_type }}</h4>
                </header>

                <div class="table-responsive">
                <table class="table table-striped">
                    {% for game in games %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ game.date_time|date:"d.m.Y" }}</td>
                                {% if game.get_absolute_url %}
                                    <td><a href="{{ game.get_absolute_url }}">{{ game.home_team.name }}</a></td>
                                    <td><a href="{{ game.get_absolute_url }}">{{ game.away_team.name }}</a></td>
                                {% else %}
                                    <td>{{ game.home_team.name }}</td>
                                    <td>{{ game.away_team.name }}</td>
                                {% endif %}

                            <td>{{ game.result }}</td>
                        </tr>
                    {% endfor %}
                </table>
                </div>
            </div>
        </div>

    {% endfor %}


{% endblock %}