{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles %}

{% block subtitle %}
{{ team.get_level_display }} / {{ current_season.code }}
{% endblock %}

{% block main %}

    <div class="row">
        <!-- ARTICLES V3 WIDGET -->
        <section class="widget widget-roster col-sm-12">
            <!-- Widget header -->
            <header class="clearfix">
                <h4>Spiele</h4>

            </header>


        </section>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-10">
            <form class="form-horizontal" role="form" method="GET">

                <div class="form-group">
            <label for="inputSeason" class="col-sm-2 control-label">Saison:</label>
            <div class="col-sm-4">

                <select id="season_select">
                    {% for season in seasons %}
                        <option value="{{ season.code }}"{% if season == current_season %} selected{% endif %}>{{ season.start_date.year }}-{{ season.end_date.year }}</option>
                    {% endfor %}
                </select>
         </div>
            </div>
            </form>
        </div>
    </div>

    <!-- Nav tabs -->
    <ul id="seasonTab" class="nav nav-tabs" role="tablist">
    {% for game_type, games in sections.items %}

      {% if games|length > 0 %}

      <li {% if game_type == active %}class="active"{% endif %}>
          <a href="#{{ game_type }}" role="tab" data-toggle="tab">{{ game_type }}</a>
      </li>

      {% endif %}

    {% endfor %}
    </ul>

<!-- Tab panes -->
<div class="tab-content">
    {% for game_type, games in sections.items %}


  {% if games|length > 0 %}

    <div class="tab-pane{% if game_type == active %} active{% endif %} fade" id="{{ game_type }}">
                <div class="table-responsive">
                <table class="table table-striped">
                    {% for game in games %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ game.date_time|date:"d.m.Y" }}</td>
                            <td>{{ game.date_time|date:"H:i" }}</td>
                                {% if game.get_absolute_url %}
                                    <td><a href="{{ game.get_absolute_url }}">{{ game.home_team.name }}</a></td>
                                    <td><a href="{{ game.get_absolute_url }}">{{ game.away_team.name }}</a></td>
                                {% else %}
                                    <td>{{ game.home_team.name }}</td>
                                    <td>{{ game.away_team.name }}</td>
                                {% endif %}

                            <td>{{ game.result }}</td>
                        </tr>
                    {% endfor %}
                </table>
                </div>

   </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}

    {% block sidebar %}

     {% if table|length > 0 %}

        <section class="col-sm-6 col-md-12 widget">
            <!-- Widget header -->
            <header class="clearfix"><h4>Tabelle</h4></header>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <th>P</th>
                            <th>Mannschaft</th>
                            <th>SP</th>
                            <th>Tore</th>
                            <th>Punkte</th>
                        </thead>
                        <tbody>
                            {% for entry in table %}
                                <tr>
                                    <td>{{ entry.position }}</td>
                                    <td>{{ entry.team.name }}</td>
                                    <td>{{ entry.gp }}</td>
                                    <td>{{ entry.diff }}</td>
                                    <td>{{ entry.points }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        </section>
    {% endif %}

    {{ block.super }}

    {% endblock %}



{% block extra_js %}

<script>
$(document).ready(function() {
    $('#seasonTab a:first').tab('show')
})

$(function(){
      // bind change event to select
      $('#season_select').bind('change', function () {
          var baseUrl = "/{{ team.pk }}/season/";
          var code = $(this).val(); // get selected value
          if (code) { // require a code
              window.location = baseUrl+code; // redirect
          }
          return false;
      });
 });
</script>

{% endblock %}