{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles %}

{% block subtitle %}
{{ team.get_level_display }} / {{ current_season.code }}
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-md-offset-2 col-md-10">
            <form class="form-horizontal" role="form" method="GET">

                <div class="form-group">
            <label for="inputSeason" class="col-sm-2 control-label">Saison:</label>
            <div class="col-sm-4">

                <select id="season_select">
                    {% for season in seasons %}
                        <option value="{{ season.code }}"{% if season == current_season %} selected{% endif %}>{{ season.start_date.year }}-{{ season.end_date.year }}</option>
                    {% endfor %}
                </select>
         </div>
            </div>
            </form>
        </div>
    </div>

<!-- Nav tabs -->
<ul id="statsTab" class="nav nav-tabs" role="tablist">
{% for game_type, stats in sections.items %}

  {% if stats|length > 0 %}

  <li {% if game_type == active %}class="active"{% endif %}>
      <a href="#{{ game_type }}" role="tab" data-toggle="tab">{{ game_type }}</a>
  </li>

  {% endif %}

{% endfor %}
</ul>

<!-- Tab panes -->
<div class="tab-content">
{% for game_type, stats in sections.items %}

  {% if stats|length > 0 %}

  <div class="tab-pane{% if game_type == active %} active{% endif %} fade" id="{{ game_type }}">
    <div class="table-responsive">
        <table class="table table-striped stats">
            <thead>
                <tr>
                    <th class="row-nr">#</th>
                                <th class="row-name">Name</th>
                                <th class="row-gp"><a href="#" id="tooltip" title="Spiele">S</a></th>
                                <th class="row-goal"><a href="#" id="tooltip" title="Goals">G</a></th>
                                <th class="row-assist"><a href="#" id="tooltip" title="Assists">A</a></th>
                                <th class="row-points"><a href="#" id="tooltip" title="Punkte">P</a></th>
                                <th class="row-points_avg"><a href="#" id="tooltip" title="Punktedurchschnitt pro Spiel">&Oslash;P</a></th>
                                <th class="row-pm"><a href="#" id="tooltip" title="Strafminuten">PM</a></th>
                                <th class="row-pmg_avg"><a href="#" id="tooltip" title="Strafminuten pro Spiel">&Oslash;PM</a></th>
                </tr>
            </thead>
            <tbody>
                 {% for stat in stats %}
                            <tr>
                                <td>{{ stat.player.number|default_if_none:"-" }}</td>
                                <td><a href="{% url 'player' stat.player.pk %}">{{ stat.player }}</a></td>
                                 <td>{{ stat.gp }}</td>
                                <td>{{ stat.goal }}</td>
                                <td>{{ stat.assist }}</td>
                                <td><strong>{{ stat.points }}</strong></td>
                                <td>{{ stat.points_avg|floatformat:2 }}</td>
                                <td>{{ stat.pm }}</td>
                                <td>{{ stat.pm_avg|floatformat:2}}</td>
                            </tr>
                            {% endfor %}
            </tbody>
        </table>
    </div>
   </div>
    {% endif %}
{% endfor %}
</div>

{% endblock %}

{% block extra_js %}

<script>
$(document).ready(function() {
    $('#statsTab a:first').tab('show')
})

$(function(){
      // bind change event to select
      $('#season_select').bind('change', function () {
          var baseUrl = "/{{ team.pk }}/stats/";
          var code = $(this).val(); // get selected value
          if (code) { // require a code
              window.location = baseUrl+code; // redirect
          }
          return false;
      });
 });

</script>

{% endblock %}