{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles keyword_tags %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{{ blog_post.title }}
{% endblock %}

{% block main %}
    <!-- POST CONTENT -->

    <article class="article-large entry-content">
        <!--Image-->
        <h2>{{ blog_post.title }}</h2>

        <p class="lead">{{ blog_post.description|safe }}</p>

        <p>{{ blog_post.content|richtext_filters|safe }}
        </p>

        {% if blog_post.gamerecap.game %}
            <strong>{% trans "aufstellung" %}</strong><br/>
            {% for stat in blog_post.gamerecap.game.gameplayerstats_set.all %}

                {% if forloop.first %}
                    {{ stat.player }} ({{ stat.goal }} Tore / {{ stat.assist }} Assists)
                {% else %}
                    {{ stat.player }} ({{ stat.goal }}/{{ stat.assist }})
                {% endif %}

                {% if not forloop.last %}
                    ,
                {% endif %}
            {% endfor %}
        {% endif %}
    </article>



    <!-- SHARE POST
    <section class="share-post clearfix">
        <h5>Share:</h5>
        <ul>
            <li><a href="#"><i class="sc-sm sc-facebook"></i><span>426</span></a></li>
            <li><a href="#"><i class="sc-sm sc-twitter"></i><span>526</span></a></li>
            <li><a href="#"><i class="sc-sm sc-googleplus"></i><span>429</span></a></li>
        </ul>
        <br>
    </section>
    -->

{% endblock %}