/*Custom CSS
============ */
#home-version-2 #title  { background-image: url('../img/title-background-home-version-2-small.jpg') }
#blog-version-1 #title  { background-image: url('../img/title-background-blog-version-1-small.jpg') }
#blog-version-2 #title  { background-image: url('../img/title-background-blog-version-2-small.jpg') }
#blog-detail #title     { background-image: url('../img/title-background-blog-detail-small.jpg') }
#gallery-page #title    { background-image: url('../img/title-background-gallery-page-small.jpg') }

@media(min-width: 769px) {
        #home-version-2 #title  { background-image: url('../img/title-background-home-version-2-medium.jpg') }
        #blog-version-1 #title  { background-image: url('../img/title-background-blog-version-1-medium.jpg') }
        #blog-version-2 #title  { background-image: url('../img/title-background-blog-version-2-medium.jpg') }
        #blog-detail #title     { background-image: url('../img/title-background-blog-detail-medium.jpg') }
        #gallery-page #title    { background-image: url('../img/title-background-gallery-page-medium.jpg') }
}

@media(min-width: 1367px) {
        #home-version-2 #title  { background-image: url('../img/title-background-home-version-2-large.jpg') }
        #blog-version-1 #title  { background-image: url('../img/title-background-blog-version-1-large.jpg') }
        #blog-version-2 #title  { background-image: url('../img/title-background-blog-version-2-large.jpg') }
        #blog-detail #title     { background-image: url('../img/title-background-blog-detail-large.jpg') }
        #gallery-page #title    { background-image: url('../img/title-background-gallery-page-large.jpg') }
}

dl {
 width:100%;
 overflow:hidden;
 padding: 5px;
}
dt {
 float:left;
 width:20%;

}
dd {
 float:left;
 width:80%;
}

/*Post meta*/
.post-meta {
  margin-top: 5px;
  border: none;
  color: #b0b0b8;
  font-family: "Arial Narrow";
  font-size: 13px;
  line-height: 13px;
  display: inline-block;
  overflow: visible!important;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-stretch: condensed;
}

.widget-roster {
  margin-bottom: 15px;
}

.caption-roster {
  margin-top: 5px;
  margin-bottom: 20px;
}

/* Column widths are based on these cells */
.row-nr {
  width: 25px;
}
.row-name {
  width: auto;
}
.row-gp .row-goal .row-assist .row-points .row-pm {
  width: 25px;
}
.row-points_avg .row-pm_avg {
 width: 40px;
}