/*Custom CSS
============ */
#home-version-2 #title  { background-image: url('../img/custom/teaser_NLA_768-150.jpg') }
#blog-version-1 #title  { background-image: url('../img/title-background-blog-version-1-small.jpg') }
#blog-version-2 #title  { background-image: url('../img/title-background-blog-version-2-small.jpg') }
#blog-detail #title     { background-image: url('../img/title-background-blog-detail-small.jpg') }
#gallery-page #title    { background-image: url('../img/title-background-gallery-page-small.jpg') }

@media(min-width: 769px) {
        #home-version-2 #title  { background-image: url('../img/custom/teaser_NLA_1260-150.jpg') }
        #blog-version-1 #title  { background-image: url('../img/title-background-blog-version-1-medium.jpg') }
        #blog-version-2 #title  { background-image: url('../img/title-background-blog-version-2-medium.jpg') }
        #blog-detail #title     { background-image: url('../img/title-background-blog-detail-medium.jpg') }
        #gallery-page #title    { background-image: url('../img/title-background-gallery-page-medium.jpg') }
}

@media(min-width: 1367px) {
        #home-version-2 #title  { background-image: url('../img/custom/teaser_NLA_1260-150.jpg') }
        #blog-version-1 #title  { background-image: url('../img/title-background-blog-version-1-large.jpg') }
        #blog-version-2 #title  { background-image: url('../img/title-background-blog-version-2-large.jpg') }
        #blog-detail #title     { background-image: url('../img/title-background-blog-detail-large.jpg') }
        #gallery-page #title    { background-image: url('../img/title-background-gallery-page-large.jpg') }
}

dl {
 width:100%;
 overflow:hidden;
 padding: 5px;
}
dt {
 float:left;
 width:20%;

}
dd {
 float:left;
 width:80%;
}

/*Post meta*/
.post-meta {
  margin-top: 5px;
  border: none;
  color: #b0b0b8;
  font-family: "Arial Narrow";
  font-size: 13px;
  line-height: 13px;
  display: inline-block;
  overflow: visible!important;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-stretch: condensed;
}

.resultbox-top {
  margin-top: 5px;
  margin-left: 10px;
      text-align: center;

  border: none;
  color: #606068;
  font-size: 13px;
  font-weight: bold;
  line-height: 13px;
  display: inline-block;
  overflow: visible!important;
}

.resultbox-bottom {
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 10px;
      text-align: left;
  border: none;
  color: #606068;
  font-size: 13px;
  line-height: 13px;
  display: inline-block;
  overflow: visible!important;
}

.resultbox-game {
  margin-top: 0px;
  text-align: center;
  font-size: 15px;
}

.article-tiny {
    margin-top: 0px;
  border: 1px solid #e0e0e8;
}

.resultbox {

}

.widget-roster {
  margin-bottom: 15px;
}

.caption-roster {
  margin-top: 5px;
  margin-bottom: 20px;
}

/* Column widths are based on these cells */
.row-nr {
  width: 25px;
}
.row-name {
  width: auto;
}
.row-gp .row-goal .row-assist .row-points .row-pm {
  width: 25px;
}
.row-points_avg .row-pm_avg {
 width: 40px;
}

.carousel-small .carousel-inner .item img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

/* Tooltip CSS from Bootstrap */
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  right: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}

.topscorer-top {
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom:5px;
  text-align: center;

  border: none;
  color: #606068;
  font-size: 13px;
  font-weight: bold;
  line-height: 13px;
  display: inline-block;
  overflow: visible!important;
}

.topscorer-player {
  margin: 0px;
  margin-left: 10px;
}

.price {
  font-weight: bold;
}

.oldPrice {
  text-decoration: line-through;
}

.specialPrice {
  color: #db2b1d;
}

/* Left navigation for shop */

.tree > .nav .nav > li {
  padding-left: 15px;
}
.tree .active > a {
  background-color: #EEEEEE;
}
.tree .active-branch > a {
  font-weight: bold;
}

