<!-- GALLERY WIDGET -->
<section class="col-sm-6 col-md-12 widget no-mobile">
    <!-- Widget Header -->
    <header class="clearfix">
        <h4>Gallery</h4>
        <a href="#carousel-small" class="control" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
        <a href="#carousel-small" class="control" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>

    </header>

    <!-- Widget content: carousel gallery -->
    <div id="carousel-small" class="carousel slide carousel-small frame" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active image">
                <div data-src="http://placehold.it/350x185"
                     data-alt="Nunc ut dolor nec mi posuere tincidunt quis ut sem Praesent pharetra eget"></div>
                <div class="image-light"></div>
                <div class="caption">
                    <h5>Nunc ut dolor nec mi posuere tincidunt quis ut sem Praesent pharetra eget</h5>
                </div>
                <div class="container-link">
                    <div class="link">
                        <a href="#"><i class="fa fa-link fa-flip-horizontal"></i></a>
                        <a href="http://placehold.it/1024x512.jpg"
                           title="Nunc ut dolor nec mi posuere tincidunt quis ut sem Praesent pharetra eget"
                           data-lightbox-gallery="gallery-small">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="item image">
                <div data-src="http://placehold.it/350x185"
                     data-alt="vestibulum ultricies Ut sollicitudin eget massa et lobortis"></div>
                <div class="image-light"></div>
                <div class="caption">
                    <h5>vestibulum ultricies Ut sollicitudin eget massa et lobortis</h5>
                </div>
                <div class="container-link">
                    <div class="link">
                        <a href="#"><i class="fa fa-link fa-flip-horizontal"></i></a>
                        <a href="http://placehold.it/1024x512.jpg"
                           title="vestibulum ultricies Ut sollicitudin eget massa et lobortis"
                           data-lightbox-gallery="gallery-small">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="item image">
                <div data-src="http://placehold.it/350x185"
                     data-alt="Bird Profile Wellington New Zealand Vivamus ac neque sed"></div>
                <div class="image-light"></div>
                <div class="caption">
                    <h5>Bird Profile Wellington New Zealand Vivamus ac neque sed</h5>
                </div>
                <div class="container-link">
                    <div class="link">
                        <a href="#"><i class="fa fa-link fa-flip-horizontal"></i></a>
                        <a href="http://placehold.it/1024x512.jpg"
                           title="Bird Profile Wellington New Zealand Vivamus ac neque sed"
                           data-lightbox-gallery="gallery-small">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="item image">
                <div data-src="http://placehold.it/350x185"
                     data-alt="dui placerat dictum Suspendisse ut justo venenatis imperdiet"></div>
                <div class="image-light"></div>
                <div class="caption">
                    <h5>dui placerat dictum Suspendisse ut justo venenatis imperdiet</h5>
                </div>
                <div class="container-link">
                    <div class="link">
                        <a href="#"><i class="fa fa-link fa-flip-horizontal"></i></a>
                        <a href="http://placehold.it/1024x512.jpg"
                           title="dui placerat dictum Suspendisse ut justo venenatis imperdiet"
                           data-lightbox-gallery="gallery-small">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--.carousel-inner-->
    </div>
    <!--.carousel-->

    <!--Shadow-->
    <img src="img/shadow.png" class="shadow" alt="shadow">
</section>