<!-- GALLERY WIDGET -->
<section class="col-sm-6 col-md-12 widget no-mobile">
    <!-- Widget Header -->
    <header class="clearfix">
        <h4>Gallery</h4>
        <a href="#carousel-small" class="control" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
        <a href="#carousel-small" class="control" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>

    </header>

    <!-- Widget content: carousel gallery -->
    <div id="carousel-small" class="carousel slide carousel-small frame" data-ride="carousel">
        <div class="carousel-inner">
            {% for album in albums %}
            <div class="item image {% if forloop.counter == 1 %}active{% endif %}">
                <div data-src="{{ album.photos.all.0.content_url }}"
                     data-alt="{{ album.title }}"></div>
                <div class="image-light"></div>
                <div class="caption">
                    <h5>{{ album.title }}</h5>
                </div>
                <div class="container-link">
                    <div class="link">
                        <a href="{% url 'album' album.pk %}"

                           data-lightbox-gallery="gallery-small">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!--.carousel-inner-->
    </div>
    <!--.carousel-->

    <!--Shadow-->
    <img src="img/shadow.png" class="shadow" alt="shadow">
</section>