<section class="col-sm-6 col-md-12 widget">
    <!-- Widget header -->
    <header class="clearfix"><h4>Wie funktioniert's?</h4></header>

<p>
<h4>Anprobieren</h4>
Das Basisprodukt kann während den Heimspielen des SHC Belpa 1107 beim Buvettenbereich
oder aber während den Öffnungszeiten bei Wittwer Mode + Sport in den
erhältlichen Grössen anprobiert werden.
</p>

<p>
<h4>Bestellen</h4>
Die Artikel können direkt über den Shop bestellt werden.
</p>

<p>
<h4>Bezahlen</h4>
Die Artikel können nur per Vorkasse bezahlt werden. Nach der Bestellung erhälst du eine Bestätigung per E-Mail inklusive Zahlungsinformationen.</br>
Erst wenn du die Bestellung bezahlst hast, werden die Artikel vom Wittwer Mode + Sport produziert.
</p>

<p>
<h4>Abholen</h4>
Deine Bestellung kannst du im Wittwer Mode + Sport in Belp abholen. Du erhälst eine Benachrichtigung per SMS
</p>

<p>
<h4>Retouren</h4>
Die Artikel können nicht zurückgegeben werden!
</p>

</section>