 {% if game.stats %}
<!-- ARTICLES V3 WIDGET -->
        <section class="widget widget-roster col-sm-12">
            <!-- Widget header -->
            <header class="clearfix">
                <h4>Aufstellung</h4>

            </header>

            <p>
{% for stat in game.stats %}

{% if forloop.first %}
    {{ stat.player }} ({{ stat.goal }} Tore / {{ stat.assist }} Assists)
{% else %}
    {{ stat.player }} ({{ stat.goal }}/{{ stat.assist }})
{% endif %}

{% if not forloop.last %}
,
{% endif %}

{% endfor %}

            </p>

        </section>
    {% endif %}